@model WeatherForecast

<body>
    <form method="post" action="/Weather/Index" class="text-center font-weight-bold">
        <label for="city" class="form-label h3">Input City:</label><br>
        <input type="text" id="city" name="city" requiredclass="form-control" class="form-control"><br>
    <input type="submit" value="Check Weather!" class="btn btn-lg btn-block btn-primary">
</form>

@if (Model != null && !String.IsNullOrEmpty(Model.City))
{
        <div class="text-center font-weight-bold">
            <br> <br> <br> <br>
            
            <h2>Weather for: @Model.City</h2>
            <p class="h6">Temperature: @Model.Temperature</p>
            <p class="h6"> Description: @Model.Description</p>
    </div>
}

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
